# Data cleaning tutorial
## From website kdnuggets
link: https://www.kdnuggets.com/7-steps-to-mastering-data-cleaning-with-python-and-pandas

1. Creating a fake dataset with Faker
2. Introducing outlies and missing values
3. converting Python lists to pandas dataframes
4. Understanding the data (basics)
5. Duplicates Handling
6. Transforming data types (example is object to datetime type)
5. Clean text (string replacement)
6. Handle Outliers

In [1]:
import pandas as pd
from faker import Faker
import random

In [ ]:
# Instance object for Faker class
fake = Faker()
# Set seed for reproducibility
Faker.seed(42)

# Create list to hold data fields and values
data = []

# Iteratively produce columns (fields) and entries
for _ in range(1000):
    data.append({
        "Name": fake.name(),
        "Age":random.randint(18,70),
        "Email":fake.email(),
        'Phone': fake.phone_number(),
        'Address': fake.address(),
        'Salary': random.randint(20000, 150000),
        'Join_Date': fake.date_this_decade(),
        'Employment_Status': random.choice(['Full-Time', 'Part-Time', 'Contract']),
        'Department': random.choice(['IT', 'Engineering','Finance', 'HR', 'Marketing'])
    })

In [4]:
# Introduce missing values
for i in random.sample(range(len(data)), 50):
    data[i]["Email"] = None

# Introduce duplicate records
data.extend(random.sample(data,100))

# Introduce outliers
for i in random.sample(range(len(data)), 20):
    data[i]["Salary"] = random.randint(200000, 500000)

In [5]:
# Create dataframe with data from list (easy)

df = pd.DataFrame(data)

# Data understanding

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1100 non-null   object
 1   Age                1100 non-null   int64
 2   Email              1044 non-null   object
 3   Phone              1100 non-null   object
 4   Address            1100 non-null   object
 5   Salary             1100 non-null   int64
 6   Join_Date          1100 non-null   object
 7   Employment_Status  1100 non-null   object
 8   Department         1100 non-null   object
dtypes: int64(2), object(7)
memory usage: 77.5+ KB

In [8]:
df.head(10)

,Name,Age,Email,Phone,Address,Salary,Join_Date,Employment_Status,Department
0,Allison Hill,68,donaldgarcia@example.net,+1-219-560-0133,"79402 Peterson Drives Apt. 511\nDavisstad, PA ...",89138,2020-05-14,Full-Time,HR
1,Kimberly Dudley,64,smiller@example.net,+1-659-931-0341x316,"55341 Amanda Gardens Apt. 764\nLake Mark, WI 0...",105855,2021-12-12,Part-Time,Finance
2,Renee Morales,33,clarksherri@example.net,837-767-2423x88496,"710 Eric Estate\nCarlsonfurt, MS 78605",149150,2023-12-25,Part-Time,Finance
3,Tricia Valencia,45,frazierdanny@example.net,001-645-514-6270x48281,"809 Burns Creek\nNatashaport, IA 08093",51821,2022-01-18,Contract,Finance
4,Theresa Miller,43,wcabrera@example.net,001-822-778-2489x63834,"33150 Brianna Avenue Apt. 031\nPort Markhaven,...",69867,2024-02-17,Contract,Finance
5,Carlos Walls,26,None,311.265.6670,33387 Robert Harbors Suite 317\nNorth Denisesi...,139849,2020-10-16,Contract,Engineering
6,Sarah Martin,57,zolson@example.org,(960)464-7468,"98050 Breanna Parkway\nNorth Susan, CO 24857",79903,2020-07-31,Part-Time,Engineering
7,Megan Young,20,davidashley@example.net,+1-509-616-9985x435,"5107 Charles Forest Suite 251\nWest Justin, NV...",61138,2022-07-28,Part-Time,Finance
8,Victoria Valdez,43,contrerasangela@example.net,524-711-8244,"740 Cynthia Village Suite 005\nLake Tina, GA 9...",26188,2023-10-04,Full-Time,Marketing
9,Jessica Smith,54,landryhannah@example.org,+1-605-798-2620,"PSC 0533, Box 1586\nAPO AP 98736",42206,2021-04-25,Full-Time,HR

In [12]:
# Find number (sum) of duplicates. Duplicates themselves are read as True of False
duplicates = df.duplicated().sum()

# Print the number of duplicates
print ("THe number of duplicate rows is: ", duplicates)

# Drop duplicates, use inplace = True to change the dataframe on the spot without reassigning
# Notice that duplicates above was used only to calculate the number of duplicates but we do not
# need it here.
df.drop_duplicates(inplace = True)

THe number of duplicate rows is:  100

In [15]:
# From info() above, non-null objects is not the same for all columns. This tells you immediately
# that some columns have some missing data

# Get number of missing values. Similar idea to duplicates above, i.e. we get total number of NaN
missing_values = df.isna().sum()
print("The number of missing values is: ", missing_values)

The number of missing values is:  Name                  0
Age                   0
Email                50
Phone                 0
Address               0
Salary                0
Join_Date             0
Employment_Status     0
Department            0
dtype: int64

In [17]:
# We can drop the rows with missing values -> we lose the row USE dropna()
# Alternatively, we can use a place holder for the missing value, which we'll do. Use fillna()

df['Email'].fillna("unkwown@example.com", inplace = True)

C:\Users\MarioFalsaperna\AppData\Local\Temp\ipykernel_22680\1178070505.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna("unkwown@example.com", inplace = True)

In [ ]:
# Convert dates from numbers to datetime object

df['Join_Date'] = pd.to_datetime(df['Join_Date'])

# Check that dates are displayed correctly and in correct dtype. Use head() only for the column
df['Join_Date'].head()

0   2020-05-14
1   2021-12-12
2   2023-12-25
3   2022-01-18
4   2024-02-17
Name: Join_Date, dtype: datetime64[ns]

In [ ]:
# Calculate years employed this year - join date
# use pd.Timestamp.now().year

df['Years_Employed'] = pd.Timestamp.now().year - df['Join_Date'].dt.year

# Think about the code above. pd calls pandas, timestamp is the class, now() is its method
# and year selects the attribute year out of the whole date. Amazing

print("New Features: years employed: ")
print(df[["Join_Date", "Years_Employed"]].head())

# Notice that head is applied to a list of columns, hence the double square brackets [[]]

New Features: years employed:
   Join_Date  Years_Employed
0 2020-05-14               5
1 2021-12-12               4
2 2023-12-25               2
3 2022-01-18               3
4 2024-02-17               1

In [23]:
# Clean inconsistent text (strings) formatting
# Address column contains escapable \n that hinder readability
# Replace \n with spaces as " "

df['Address'] = df['Address'].str.replace("\n", " ", regex=False)

df["Address"].head()

0    79402 Peterson Drives Apt. 511 Davisstad, PA 3...
1    55341 Amanda Gardens Apt. 764 Lake Mark, WI 07832
2                710 Eric Estate Carlsonfurt, MS 78605
3                809 Burns Creek Natashaport, IA 08093
4    33150 Brianna Avenue Apt. 031 Port Markhaven, ...
Name: Address, dtype: object

In [ ]:
# Handling outliers, such as extremely high salaries
# Z-score method

# Creates a single column dataframe with z-score values
z_score = (df["Salary"] - df["Salary"].mean()) / df["Salary"].std()

# Creates a single column dataframe based on z-score, filtered for values > 3
outliers = df[abs(z_score) > 3]


print("Outliers based on Salary")
print(outliers[['Name', 'Salary']].head())

Outliers based on Salary
                 Name  Salary
68       Misty Hansen  357409
102  Raymond Johnston  448255
130    Michelle Brock  266397
170    Heather Miller  298692
267    Mr. Troy Gibbs  363601